<% layout('layout/biolerplate')%>


    <div class="row">
        <h1 class="text-center">NEW Question</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/AskQue" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="Que">TITLE</label>
                    <input class="form-control" type="text" id="Que" name="Que" required>
                    <div class="valid-feedback">looks good</div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">ADD Question</button>
                </div>
            </form>

        </div>